<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACC - اپل سرویس</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/fonts.css">
</head>
<body>
    <% for(const key in flash){ %>               
        <span role="alert" class="flash" dir="rtl">
          <%= flash[key] %>
        </span>
    <% } %>
    
<%- include("templates/menu.ejs") %>
<div class="container" dir="rtl">
	
	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link" href="#">شناسه</a></div>
			<div class="header__item <%= (q == "sabtPardakht") ? "op0" : "" %>"><a id="wins" class="filter__link filter__link--number" href="#">شماره سفارش</a></div>
			<div class="header__item"><a id="name" class="filter__link" href="/shops">تامین کننده</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">تاریخ</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">مبلغ <small style="font-weight: 200;">تومان</small></a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">توضیحات <small style="font-weight: 200;">اختیاری</small></a></div>
		</div>
		<div class="table-content">
			<form id="new-form" class="table-row" method="post" action="/?action=new&list=<%=q%>">		
				<div class="table-data">
					<p><%=(lastId) ? lastId + 1 : "-"%></p>
				</div>
				
				<div class="table-data <%= (q == "sabtPardakht") ? "op0" : "" %>">
					<input autocomplete="off" <%= (q != "sabtPardakht") ? "required" : "" %> type="number" name="orderId" placeholder="شماره سفارش" id="orderId">
				</div>
				<div class="table-data">
					<!-- <input required placeholder="تامین کننده" list="brow" name="name" autocomplete="off"> -->
					<select id="brow">
						<% allShops.forEach((shop) => { %>
							<option value="<%=shop.name%>"><%=shop.name%></option>
						<% }) %>
					</select>
				</div>
				<div class="table-data">
					<input autocomplete="off" required data-jdp name="time" id="" placeholder="تاریخ">
				</div>
				<div class="table-data">
					<input autocomplete="off" required name="price" id="price" type="number" placeholder="مبلغ (تومان)">
				</div>
				<div class="table-data">
					<input list="descList" autocomplete="off" name="description" type="text" placeholder="توضیحات (اختیاری)">
					<datalist id="descList">
						<option value="هزینه ارسال">
						<option value="پرداخت در محل">
					</datalist>
				</div>
				<button type="submit" style="display : none;" id="submitbtn"></button>
			</form>

			<% if(allOrders && allOrders[0]){ %>
				<% let order = allOrders[allOrders.length - 1] %>
				<div class="table-row">		
					<div class="table-data delHandler"><%=order.id%></div>
					<% if(q != "sabtPardakht"){ %>
						<div class="table-data"><%=order.orderId%></div>
					<% } %>
					<div class="table-data"><%=order.name%></div>
					<div class="table-data"><%=order.time%></div>
					<div class="table-data"><%=order.price || `<input class="submitPrice" id="${order.id}" placeholder="مبلغ">`%></div>
					<div class="table-data"><%=order.description%></div>
				</div>
			<%}%>
		</div>	
	</div>
</div>
<link type="text/css" rel="stylesheet" href="/css/jdp.min.css" />
<script type="text/javascript" src="/js/jdp.min.js"></script>
<script src="/js/axios.min.js"></script>

<script src="/js/indexScript.js" defer></script>
<button id="submitForm">ثبت</button>
</body>
</html>