<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACC - اپل سرویس</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/fonts.css">
</head>
<body>
    <% for(const key in flash){ %>               
        <span role="alert" class="flash" dir="rtl">
          <%= flash[key] %>
        </span>
    <% } %>
    
<%- include("templates/menu.ejs") %>
<%- include("templates/datePicker.ejs") %>

<div class="container" dir="rtl">
	<h1 id="karkard" style="text-align: center;"></h1>
    <p id="reportDate" style="text-align: center;"></p>
	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link" href="#">شناسه</a></div>
			<div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">شماره سفارش</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">تاریخ</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">مبلغ <small style="font-weight: 200;">تومان</small></a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">توضیحات <small style="font-weight: 200;">اختیاری</small></a></div>
		</div>
		<div class="table-content">
            <% orders.forEach(order => { %>
				<div class="table-row" id="o-<%=order.id%>">		
                    <div class="taminKonande" style="display: none;"><%=order.name%></div>
					<div class="table-data delHandler"><%=order.id%></div>
					<div class="table-data"><%=order.orderId%></div>
					<div class="table-data orderTime" id="<%=order.id%>"><%=order.time%></div>
					<div class="table-data prices"><%=order.price%></div>
					<div class="table-data descriptions"><%=order.description%>
                    <% if(order.mode == "sabtFaktor"){ %>
                        <small style="color: rgb(42, 126, 42);"> - فاکتور</small>
                    <% }else if(order.mode == "sabtPardakht"){ %>
                        <small style="color: rgb(126, 42, 42)"> - پرداختی</small>
                    <% } %>
                </div>
				</div>
            <% }) %>
            <div class="table-row">		
                <div class="table-data">جمع ثبت فاکتور ها در بازه تایین شده : <p id="price-faktor"></p></div>
                <div class="table-data">جمع پرداختی ها در بازه تایین شده : <p id="price-pardakht"></p></div>
                <div class="table-data"><p id="allMode"></p><p id="allPrice"></p></div>
            </div>
            </div>
		</div>	
	</div>
</div>
<link type="text/css" rel="stylesheet" href="/css/jdp.min.css" />
<script type="text/javascript" src="/js/jdp.min.js"></script>
<script src="/js/axios.min.js"></script>

<script src="/js/report.js" defer></script>
</body>
</html>