<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACC - اپل سرویس</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/fonts.css">
</head>
<body>
    <% for(const key in flash){ %>               
        <span role="alert" class="flash" dir="rtl">
          <%= flash[key] %>
        </span>
    <% } %>
    
<%- include("templates/menu.ejs") %>
<%- include("templates/datePicker.ejs") %>

<div class="container" dir="rtl">
	<h1 id="karkard" style="text-align: center;"></h1>
    <p id="reportDate" style="text-align: center;"></p>
	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link" href="#">شناسه</a></div>
			<div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">شماره سفارش</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">تاریخ</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">مبلغ <small style="font-weight: 200;">تومان</small></a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">توضیحات <small style="font-weight: 200;">اختیاری</small></a></div>
		</div>
		<div class="table-content">
            <% orders.forEach(order => { %>
				<div class="table-row" id="o-<%=order.id%>">		
                    <div class="taminKonande" style="display: none;"><%=order.name%></div>
					<div class="table-data delHandler"><%=order.id%></div>
					<div class="table-data"><%=order.orderId%></div>
					<div class="table-data orderTime" id="<%=order.id%>"><%=order.time%></div>
					<div class="table-data prices"><%=order.price%></div>
					<div class="table-data descriptions"><%=order.description%>
                    <% if(order.mode == "sabtFaktor"){ %>
                        <small style="color: rgb(42, 126, 42);"> - فاکتور</small>
                    <% }else if(order.mode == "sabtPardakht"){ %>
                        <small style="color: rgb(126, 42, 42)"> - پرداختی</small>
                    <% } %>
                </div>
				</div>
            <% }) %>
            <div class="table-row">		
                <div class="table-data">جمع ثبت فاکتور ها در بازه تایین شده : <p id="price-faktor"></p></div>
                <div class="table-data">جمع پرداختی ها در بازه تایین شده : <p id="price-pardakht"></p></div>
                <div class="table-data"><p id="allMode"></p><p id="allPrice"></p></div>
            </div>
            </div>
		</div>	
	</div>
</div>
<link type="text/css" rel="stylesheet" href="/css/jdp.min.css" />
<script type="text/javascript" src="/js/jdp.min.js"></script>
<script src="/js/axios.min.js"></script>

<script>
	jalaliDatepicker.startWatch();

    var menuContainer2 = document.getElementById("menuContainer2")
    var dateInput = document.getElementById("dateInput")
    var dateInput2 = document.getElementById("dateInput2")
    var dateSubmit = document.getElementById("dateSubmit")
    var times = document.querySelectorAll(".orderTime")
    var taminKonandeha = document.querySelectorAll(".taminKonande")
    var tamin = document.getElementById("tamin")
    var priceFaktor = document.getElementById("price-faktor")
    var pricePardakht = document.getElementById("price-pardakht")
    var descriptions = document.querySelectorAll(".descriptions")
    var prices = document.querySelectorAll(".prices")
    var allPrice = document.getElementById("allPrice")
    var allMode = document.getElementById("allMode")
	var delHandler = document.querySelectorAll(".delHandler")
    var karkard = document.getElementById("karkard")
    var reportDate = document.getElementById("reportDate")

	for(let i = 0; i < delHandler.length; i++){
		delHandler[i].addEventListener("dblclick", () => {
			if(confirm(`سند شماره ${delHandler[i].innerHTML} حذف شود؟`)){
				axios.post("/del", {id : delHandler[i].innerHTML}).then(() => {
					location.reload()
				})
			}
		})
	}

    dateSubmit.addEventListener("click", () => {
        let from = dateInput.value.split("/")
        let to = dateInput2.value.split("/")
        from = from.map(s => {return Number(s)})
        to = to.map(s => {return Number(s)})
        let jaamFaktor = 0
        let jaamPardakht = 0
        for(let i = 0; i < times.length; i++){
            let timesTime = times[i].innerHTML.split("/")
            let isAv = true
            timesTime = timesTime.map(s => {return Number(s)})

            if(timesTime[0] < from[0] || timesTime[0] > to[0]){ // If date is not between selected date
                document.getElementById(`o-${times[i].id}`).style.display = "none"
                isAv = false

            }else if(timesTime[0] == from[0] && timesTime[1] < from[1]){ // If Year is same to "from date" but month is not between selected
                document.getElementById(`o-${times[i].id}`).style.display = "none"
                isAv = false

            }else if(timesTime[0] == to[0] && timesTime[1] > to[1]){ // If Year is same to "to date" but month is not between selected
                document.getElementById(`o-${times[i].id}`).style.display = "none"
                isAv = false

            }else if(timesTime[0] == from[0] && timesTime[1] >= from[1] && timesTime[2] < from[2]){ // Day is lower than selected "from date"
                document.getElementById(`o-${times[i].id}`).style.display = "none"
                isAv = false

            }else if(timesTime[0] == to[0] && timesTime[1] <= to[1] && timesTime[2] > to[2]){ // Day is upper than selected "to date"
                document.getElementById(`o-${times[i].id}`).style.display = "none"
                isAv = false

            }
            console.log(taminKonandeha)
            if(taminKonandeha[i].innerHTML != tamin.value) {
                document.getElementById(`o-${times[i].id}`).style.display = "none"
                isAv = false
            }

            if(isAv){
                const info = descriptions[i].textContent
                if (info.includes("پرداختی")) jaamPardakht += Number(prices[i].innerHTML)
                if(info.includes("فاکتور")) jaamFaktor += Number(prices[i].innerHTML)
            }
        }
        priceFaktor.innerHTML = jaamFaktor
        pricePardakht.innerHTML = jaamPardakht

        if(jaamFaktor > jaamPardakht){
            allPrice.innerHTML = `${jaamFaktor - jaamPardakht} تومان`
            allMode.innerHTML = "بدهکار : "
        }else{
            allPrice.innerHTML = `${jaamPardakht - jaamFaktor} تومان`
            allMode.innerHTML = "بستانکار : "
        }

        karkard.innerHTML = `کارکرد حساب ${tamin.value}`
        reportDate.innerHTML = `از بازه ${dateInput.value} تا ${dateInput2.value}`

        menuContainer2.style.opacity = "0"
        setTimeout(() => {
            menuContainer2.style.display = "none"
        }, 200);
    })
</script>
</body>
</html>